{% extends 'layout.html' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}

  <!-- Masthead
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Contact Me</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">Here's my contact info!</p>
        </div>
      </div>
    </div>
  </header>
 -->
  <section class="page-section" id="contact">

    <div class="container flex-column">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row">
          <div class="col-md-4">
              <h2 style="font-family: 'Old Standard TT', serif;">Contact Form</h2>
          </div>
        </div>
        <form action="" method=post>
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ render_field(form.name, class_="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ render_field(form.email, class_="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ render_field(form.phone, class_="form-control") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ render_field(form.text, class_="form-control") }}
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-md" value="Send Message">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container embed-responsive-item">
      <div>
        <h2 style="font-family: 'Old Standard TT', serif;">Address</h2>
        <p>1011 W 34th St, Austin, TX 78705</p>
      </div>
      <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.692377147088!2d-97.74758408487878!3d30.30281798178907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644ca811609878f%3A0xe5fc323cd716f84f!2s1011%20W%2034th%20St%2C%20Austin%2C%20TX%2078705!5e0!3m2!1sen!2sus!4v1569199727250!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </section>


{% endblock content %}