{% extends 'layout.html' %}

{% block content %}

  <!-- Masthead -->
  <header class="masthead-marigold">
    <div class="container h-100">

      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <!--<h1 class="text-uppercase text-white font-weight-bold marigold-font">{{ company }}</h1>
          <hr class="divider my-4" style="border-color: #fb890b">-->
        </div>
        <div class="col-lg-2 align-self-baseline">
          <!--<p class="text-white-75 font-weight-light mb-5">
              {{ company }} crafts custom skin care uniquely to your needs.
              Relax, unwind, reset, chat, and unlicensed therapy sessions. Come as you are.
              Inclusivity is my priority. My space is your space.
          </p>-->
        </div>
      </div>
    </div>
  </header>
    <!-- Popup HTML - edit to create a new popup. Uses popupscripts.js and styles.css -->
    <div class="popup">
        <div class="popuptext">
            <h1 class="poph1">Tis the Season for</h1>
            <h2 class="poph2">A LAUNCH PARTY!</h2>
            <div class="popinfo">
                <p>Join us in our new sanctuary for drinks and hors d'oeuvres</p>
                <p>Friday, December 6</p>
                <p>6:00p-8:00p</p>
                <p>1011 W 34th Street</p>
                <a href="https://www.instagram.com/marigoldandstudio/" target="_blank" onclick="closePopup()"><p>Please RSVP to reserve your spot today!</p></a>
            </div>
            <p id="closepopup" onclick="closePopup()">No thanks, I don't want to have fun.</p>
        </div>
    </div>
    <!-- End of popup HTML -->
    <!-- add popup js file to home page only -->
    <script src="../static/js/popupscripts.js"></script>
{% endblock content %}