{% extends 'layout.html' %}

{% block content %}

  <!-- Masthead
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Treatments</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">Custom skin care, wax, & tint.</p>
        </div>
      </div>
    </div>
  </header>
-->
  <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0 marigold-font">Treatments</h2>
      <hr class="divider my-4">
      <div class="align-items-center">
        <div class="text-center">
          <div class="mt-5">
            <h3 class="h4 mb-2 marigold-font">Skincare</h3>
            <p class="text-muted mb-0"><strong>The Essential Custom Facial - 60 minutes $110</strong></p>
            <p class="text-muted mb-0">This facial is uniquely crafted to your individual skincare needs and goals. No facial is the same!</p>
            <br>
            <p class="text-muted mb-0"><strong>The Dermaplane Express - 30 minutes $75</strong></p>
            <p class="text-muted mb-0">Thirty minute dermaplaning treatment.</p>
            <br>
            <p class="text-muted mb-0"><strong>The Back Facial - 45 minutes $75</strong></p>
            <p class="text-muted mb-0">A custom back treatment with exfoliation, extractions, and masks, leaving you smooth and relaxed.</p>
            <br>
            <p class="text-muted mb-0"><strong>Youth-ifying Arm and Hand Treatment - 30 minutes $50</strong></p>
            <p class="text-muted mb-0">Deep exfoliation and an anti-aging peel to focus on brightening and texture. An add-on to a custom facial.</p>
            <br>
            <p class="text-muted mb-0"><strong>Consultation - 15 minutes $20</strong></p>
            <p class="text-muted mb-0">A consultation will be 15 minutes with a $20 consultation fee. The consultation fee will be credited towards a scheduled service or recommended product at the time of consultation.</p>
          </div>
        </div>
        <div class="text-center">
          <div class="mt-5">
            <h3 class="h4 mb-2 marigold-font">À la carte</h3>
            <p class="text-muted mb-0 service-items"><strong>Dermaplaning - $60</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Peel Add-On - $60</strong></p>
            <p class="text-muted mb-0 service-items"><strong>+ Extractions - $25 (15 minutes of additional time)</strong></p>
          </div>
        </div>
        <div class="text-center">
          <div class="mt-5">
            <h3 class="h4 mb-2 marigold-font">Series</h3>
              <p class="text-muted mb-0 service-items"><strong>Purchase five of the same treatments at once and get one free!</strong></p>
          </div>
        </div>
        <div class="text-center">
          <div class="mt-5">
            <h3 class="h4 mb-2 marigold-font">Wax</h3>
            <p class="text-muted mb-0 service-items"><strong>Brow - $25</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Lip - $15</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Brow + Lip - $38</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Chin - $15</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Nose - $15</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Ear - $18</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Chest - $75</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Side of face - $25</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Back + Shoulders - $80</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Partial Back - $60</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Bum - $35</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Underarm - $35</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Half arm - $45</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Full arm - $60</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Half leg - $75</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Full leg - $95</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Bikini - $60</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Frenchie - $65</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Brazilian - $75</strong></p>
          </div>
        </div>
        <div class="text-center">
          <div class="mt-5">
            <h3 class="h4 mb-2 newtextcolor marigold-font">Tint</h3>
            <p class="text-muted mb-0 service-items"><strong>Brow - $25</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Lash - $35</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Brow + Lash - $55</strong></p>
            <p class="text-muted mb-0 service-items"><strong>Beard Tint - $30</strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-sm-center mt-5">
      <h6 class="marigold-font">Services are by appointment only</h6>
      <h6 class="marigold-font">Refer four friends and receive a treatment of your choice for free!</h6>
      <h6 class="marigold-font">10% off all military personnel</h6>
    </div>
  </section>

{% endblock content %}